.__titulo-seccion-portaldelpaciente {
    background-color: #04205f;
}

.__titulo {
    padding: 5px 8px!important;
}

.__title-form {
    color: #59585d;
    font-size: 14px;
}

.__form {
    background-color: #e6e7e9;
}

.__form h4 {
    color: #1d3b70;
}

.__form .__btn-submit {
    background-color: #1d3b6f;
    border-color: #1d3b6f;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.__form .__btn-submit:hover {
    background-color: #e6e7e9;
    color: #1d3b6f;
}

.__input {
    background-color: #e6e7e9;
    border-color: #a6a7a9!important;
    color: #5a595e;
    transition: all 0.2s ease-in-out;
}

.__input:focus, .__input:active {
    box-shadow: none!important;
}
