.__titulo-seccion-turnos {
    background-color: #04205f;
}

.__titulo {
    padding: 5px 8px!important;
}

.__botonera-turnos {
    background-color: #e7e7e9;
    overflow: hidden!important;
}

.__botonera-turnos a img {
    transition: all 0.2s ease-in-out;
}

.__botonera-turnos a img:hover{
    -webkit-transform:scale(1.05)!important;
    transform:scale(1.05)!important;
}